{% extends "layout.html" %}
{% block content %}
<html>
<head>
	<title>Covid-19 Testing Page</title>
    </head>
	<body>
		<h2>Covid-19 Testing</h2>
		<p>Fill out the information below to find a test nearby</p>
			<form action="" method='POST' name="myform">
		<p>
			<label for="testSite">Choose a Test Site:</label>
			<select id="site" name="site">
				<option value="Skokie">Skokie</option>
				<option value="Des Plaines">Des Plaines</option>
				<option value="Evanston">Evanston</option>
				<option value="Chicago">Chicago</option>
			</select>
		</p>
			<p>
				{{ form.csrt_token }}
				{{ form.startdate.label }} {{form.startdate(class='datepicker')}} {{form.hidden_tag()}}
				{{ form.enddate.label }} {{form.enddate(class='datepicker')}} {{form.hidden_tag()}}
			</p>
				<p>
				{{form.submit()}}
				</p>
			<!-- <label for="testTime">Choose a time:</label>
			<select id="time" name="time">
				<option value="Skokie">9:00 am</option>
				<option value="Des Plaines">Des Plaines</option>
				<option value="Evanston">Evanston</option>
				<option value="Chicago">Chicago</option>
			<input type="submit"> -->
		</form>
	</body>
</html>
{% endblock content %}
