{% extends "layout.html" %}
{% block content %}
    <h1>Covid-19 Test History Page</h1>

      <div class="media">
        <!-- <img class="rounded-circle account-img" src="{{ image_file }}"> -->
        <div class="media-body">
          <h2 class="account-heading">{{ current_user.firstName }} {{ current_user.lastName }}</h2>
          <p class="text-secondary">Birthdate: {{ current_user.birthDate }}</p>
        </div>
      </div>

	
		  
 	
		  {% for query in testHist %}
		  
			
			{% if current_user.id == query.id  %}
			<!-- 	<div class="media-body">
				<div class="article-metadata">
				<p class="text-secondary">Test Address: {{  query.testAddress }} </p>
				<p class="text-secondary">Test City ZIP: {{  query.testCity }} </p>
				<p class="text-secondary">Test Site ZIP: {{  query.testZip }} </p>
				<p class="text-secondary">Test Result: {{  query.testResult }} </p>
				</div> -->
				
				
				
				<article class="media content-section">
          
          <div class="media-body">
            <div class="article-metadata">
              <p class="mr-2">Test Address: {{  query.testAddress }} </p>
			  <p class="mr-2">Test City ZIP: {{  query.testCity }}  </p>
			  <p class="mr-2">Test Site ZIP: {{  query.testZip }} </p>
			  </div>
			  
			  <div class="medium">
			  <a class="article-content">Test Result: {{  query.testResult }} </a>
				</div>
          
        </article>
			{% endif %} 
			
			
		  {% endfor %} 
		  
		  
		  
	
	  
	  
	  
	  
	  
	 
{% endblock content %}
