{% extends "layout.html" %}
{% block content %}
    <h1>Covid-19 Vaccination Page</h1>

	<div class="media">
      
		<div class="media-body">
			<h2 class="account-heading">{{ current_user.firstName }} {{ current_user.lastName }}</h2>
			<p class="text-secondary">Birthdate: {{ current_user.birthDate }}</p>
		</div>
    </div>

	
		  <div>
 			
	
	{% for quer in vachist %}
		  
			
		{% if current_user.id == quer.id  %}
			
			
			<article class="media content-section">

				<div class="media-body">
				<div class="medium">
					<p class="mr-2">Last Vaccination: {{  quer.vaccineBrand }} </p>
					<p class="mr-2">Vaccination Date: {{  quer.vaccineDistDate }}   </p>
				</div>
				</div>
            </article>
			  	
		{% endif %} 
			
	{% endfor %} 
		  
		  	      
	      
	 
{% endblock content %}
